body {
  background-image: radial-gradient(
    circle at 10% 20%,
    rgb(137, 210, 253) 0%,
    rgb(255, 241, 188) 90%
  );
}
h1 {
  position: fixed;
  top: 0;
  right: 10px;
  color: blue;
  font-family: monospace;
  font-weight: 200;
  background: #f5f248;
  padding: 30px;
  margin: 30px;
  border-radius: 25%;
  box-shadow: rgb(77, 207, 207) 5px 35px 5px;
}
h1:hover {
  background: #ffff26;
  font-size: 50px;
  transition: all 200ms ease;
}
.weather-app {
  margin-bottom: 50;
  padding: 20px;
}
.col {
  position: relative;
  top: 50px;
  left: 0px;
  height: 200px;
}
.butt {
  background-color: aqua;
  color: black;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid #055e08;
  margin: 4px;
}
.card-img-top {
  height: 250px;
}

.butt:hover {
  background-color: #4caf50; /* Green */
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.clearfix {
  font-size: 50px;
}
.weatherbox {
  margin: 2% auto;
  max-width: 1000px;
  background-color: white;
  padding: 10px 20px 25px 20px;
  border-radius: 10px;
  border: 1px solid rgb(3, 117, 39);
  top: 50%;
  left: 50%;
  background-image: radial-gradient(
    circle at 10% 20%,
    rgb(137, 210, 253) 0%,
    rgb(255, 241, 188) 90%
  );
}
.weather-forecast-date {
  position: relative;
  top: -210px;
  right: -165px;
  font-size: 25px;
}
.units {
  font-size: 35px;
}
.tempterature {
  font-size: 150px;
}
.weathercss .activ {
  cursor: default;
}
.weathercss .activ:hover {
  text-decoration: none;
}
